{% # Count items %}
{% assign total_glasses = 0 %}
{% for item in order.lineItems %}
{% assign is_lens = item.title | slice: 0,2 | IsNumeric %}
{% if is_lens == false %}
{% increment total_glasses %}
{% endif %}
{% endfor %}

<p>Hi Kevin & Sarah,</p>

<p>Another order!</p>

<p>Order Number: {{ order.name }}</p>

<h1>Glasses</h1>

There are {{ total_glasses }} pairs of glasses in this order.

{% # List glasses %}
{% assign line_items_copy = order.lineItems %}
{% for item in order.lineItems %}
    {% # Skip lens items, we will access them with their associated glasses %}
    {% assign is_lens = item.title | slice: 0,2 | IsNumeric %}
    {% if is_lens %}{% continue %}{% endif %}

    {% # If the glasses have associated lenses, get the lens item %}
    {% unless forloop.last %}
        {% assign next_item = line_items_copy[forloop.index] %}
        {% assign next_is_lens = next_item.title | slice: 0,2 | IsNumeric %}
    {% endunless %}

    {% # Get all the info we want %}
    {% # - Glasses info %}
    {% assign title = item.title %}
    {% assign image_url = item.product.featuredImage.src %}
    {% for attr in item.customAttributes %}
        {% if attr.key == "Frame" %}{% assign frame = attr.value %}{% endif %}
        {% if attr.key == 'Prescription Type' %}{% assign prescription_type = attr.value %}{% endif %}
    {% endfor %}
    {% for option in item.variant.selectedOptions %}
        {% if option.name == 'Prescription or Non-Prescription' %}{% assign type = option.value %}{% endif %}
        {% if option.name == 'Selected Frame Colour' %}{% assign frame_colour = option.value %}{% endif %}
        {% if option.name == 'Select Lens Type' %}{% assign lens = option.value %}{% endif %}
    {% endfor %}
    {% # - Lens info %}
    {% if next_is_lens %}
        {% assign lens_material = next_item.title | slice: 0, 3 %}
        {% for attr in next_item.customAttributes %}
            {% if attr.key == 'OD Right' %}{% assign od_right = attr.value %}{% endif %}
            {% if attr.key == 'OS Left' %}{% assign os_left = attr.value %}{% endif %}
            {% if attr.key == 'Segment Height' %}{% assign segment_height = attr.value %}{% endif %}
            {% if attr.key == 'PD' %}{% assign pd_value = attr.value %}{% endif %}
            {% if attr.key == 'Prism OS' %}{% assign prism_os = attr.value %}{% endif %} 
            {% if attr.key == 'Prism OD' %}{% assign prism_od = attr.value %}{% endif %} 
            {% if attr.key == '_Prescription File' %}{% assign prescription_file_url = attr.value %}{% endif %} 
        {% endfor %}
        {% for option in next_item.variant.selectedOptions %}
            {% if option.name == "Anti-Glare Lens Coating" %}{% assign anti_glare = option.value %}{% endif %}
            {% if option.name == "Super-Hydrophobic Lens Coating" %}{% assign hydrophobic = option.value %}{% endif %}
            {% if option.name == "Scratch-Resistant Lens Coating" %}{% assign scratch_resistant = option.value %}{% endif %}
        {% endfor %}
    {% endif %}

    {% # Email item content %}
    {% unless forloop.first %}<hr>{% endunless %}

    <h2>{{ title }}</h2>

    <img width="200" src="{{ image_url }}">

    <ul>
        <li><strong>Type:</strong> {{ type }}</li>
        <li><strong>Lens:</strong> {{ lens }}</li>
        {% if lens_material %}<li><strong>Lens material:</strong> {{ lens_material }}</li>{% endif %}
    </ul>

    {% if anti_glare or hydrophobic or scratch_resistant %}
    <h3>Selected coatings</h3>

    <ul>
        {% if anti_glare %}<li>Anti-glare</li>{% endif %}
        {% if hydrophobic %}<li>Hydrophobic</li>{% endif %}
        {% if scratch_resistant %}<li>Scratch-resistant</li>{% endif %}
    </ul>
    {% endif %}

    <h3>Prescription</h3>

    <ul>
        <li><strong>Prescription type:</strong> {{ prescription_type }}</li>
        {% if od_right %}<li><strong>OD right:</strong> {{ od_right }}</li>{% endif %}
        {% if os_left %}<li><strong>OS left:</strong> {{ os_left }}</li>{% endif %}
        {% if segment_height %}<li><strong>Segment height:</strong> {{ segment_height }}</li>{% endif %}
        {% if pd_value %}<li><strong>PD:</strong> {{ pd_value }}</li>{% endif %}
        {% if prism_od %}<li><strong>Prism OD:</strong> {{ prism_od }}</li>{% endif %}
        {% if prism_os %}<li><strong>Prism OS:</strong> {{ prism_os }}</li>{% endif %}
        {% if prescription_file_url %}<li><a href="{{ prescription_file_url }}">Download prescription</a></li>{% endif %}
    </ul>
{% endfor %}

<h3>Customer notes</h3>
<p>{{ order.note }}</p>

<h3>Address</h3>
"{{ order.customer.firstName }}" "{{ order.customer.lastName }}"<br>
"{{ order.displayAddress.address1 }}"<br>
"{{ order.displayAddress.address2 }}"<br>
"{{ order.displayAddress.city }}"<br>
"{{ order.displayAddress.country }}"<br>
"{{ order.displayAddress.provinceCode }}"<br>
"{{ order.displayAddress.province }}"<br>

<p>Thanks very much!<br><br>
Tom<br><br>
07795109851
</p>
